.mb-1 {
  background: -webkit-linear-gradient(top right, rgb(0, 255, 115), rgb(197, 5, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Permanent Marker',
    cursive;
  font-size: 275px;
  font-weight: bold;
  letter-spacing: 0.4em;
  line-height: 1;
  text-align: center;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .mb-1 {
    letter-spacing: 0.2em;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .mb-1 {
    letter-spacing: 0.1em;
  }
}

.mb-5 {
  color: azure;
  font-family: 'Amatic SC',
    cursive;
  letter-spacing: 0.6em;
}

.btn {
  border-radius: .40rem;
}

.masthead {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(rgba(169, 255, 241, 0.45),
      rgba(62, 91, 255, 0.45)),
    /* bottom, image */
    url("../img/bg-masthead.jpg");
}